.btn-m{
	min-width: 90px !important;
	max-width: 90px !important;
}
.btn-cnt{
	text-align: center;
}
.mt-25{
	margin-top: 25px;
}
.mb-25{
	margin-bottom: 25px;
}
.lh-30{
	line-height: 30px;
}
.max-W400{
	max-width: 400px !important;
}
.max-H400{
	max-height: 400px !important;
}